<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Student Table</h4>

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <button style="margin-left: 80%;" routerLink="/student/create" type="submit"
            class="btn btn-primary btn-round">Add Profile</button>
          <table class="table">
            <thead class=" text-primary">

              <th>
                REG NO
              </th>
              <th>
                DEPARTMENT NAME
              </th>
              <th>BRANCH</th>
              <th>AGE
              </th>
              <th>NAME
              </th>
              <th>EMAIL
              </th>
              <th>PHONE
              </th>
              <th>ADDRESS</th>
              <th>PARENT NAME</th>
              <th class="text-right">
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let eachstudent of students;">             
                <td>
                  {{eachstudent.regNo}}
                </td>
                <td>
                  {{eachstudent.department}}
                </td>
                <td>
                  {{eachstudent.branch}}
                </td>
                <td>{{eachstudent.age}}</td>
                <td>{{eachstudent.name}}</td>
                <td>{{eachstudent.email}}</td>
                 <td>{{eachstudent.phone}}</td>
                <td>{{eachstudent.address}}</td>
                <td>{{eachstudent.ParentName}}</td>
                <button routerLink="/student/edit">EDIT</button>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>