
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <a href="https://www.google.com/maps/place/Kamban+Arts+%26+Science+College+For+Women/@12.1905917,79.0815961,17z/data=!3m1!4b1!4m5!3m4!1s0x3bacbf168e82e1cb:0x990428ee994a6478!8m2!3d12.1905865!4d79.0837848">Click here</a>
         <!-- <img src="D:\angularcli\college_admission\src\assets\img\location2.jpg" width="225" height="225"></a> -->
           hi
        </div>
    </div>
  </div>
</div>  
