
<div class="card-body">
    <form>
      <div class="row">
        <div class="col-md-5 pr-1">
          <div class="form-group">
            <label>ID NO:</label>
            <input type="text" class="form-control"  placeholder="Enter Your Id Number" >
          </div>
        </div>
        <div class="col-md-3 px-1">
          <div class="form-group">
            <label>NAME</label>
            <input type="text" class="form-control" placeholder="Enter Your Name" >
          </div>
        </div>
        <div class="col-md-4 pl-1">
          <div class="form-group">
            <label for="exampleInputEmail1">EMAIL</label>
            <input type="email" class="form-control" placeholder="Enter Your Email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pr-1">
          <div class="form-group">
            <label>DEPARTMENT</label>
            <input type="text" class="form-control" placeholder="Enter your Department" >
          </div>
        </div>
        <div class="col-md-6 pl-1">
          <div class="form-group">
            <label>BATCH</label>
            <input type="text" class="form-control" placeholder="Enter Your Batch" >
          </div>
        </div>
      </div>
      <div class="col-md-6 pl-1">
        <div class="form-group">
          <label>DOB</label>
          <input type="date" class="form-control" placeholder="Enter Your Date of Brith" >
        </div>
      </div>
      <div class="col-md-6 pl-1">
        <div class="form-group">
          <label>PHONE NUMBER</label>
          <input type="tel" class="form-control" placeholder=" Enter Your Phone Number" >
        </div>
      </div>
      <h4>ADDRESS</h4>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>STREET</label>
            <input type="text" class="form-control" placeholder="Enter your street" >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 pr-1">
          <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" placeholder="Enter Your City">
          </div>
        </div>
        <div class="col-md-4 px-1">
          <div class="form-group">
            <label>STATE</label>
            <input type="text" class="form-control" placeholder="Enter your State">
          </div>
        </div>
        <div class="col-md-4 pl-1">
          <div class="form-group">
            <label>Postal Code</label>
            <input type="number" class="form-control" placeholder="ZIP Code">
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>About Me</label>
            <textarea class="form-control textarea" placeholder="Enter About Yourself"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="update ml-auto mr-auto">
          <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
        </div>
        
      </div>
    </form>
  </div>


