

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2><u>ADMISSION LIST OF 2021</u></h2>
  
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <button style="margin-left: 80%;" routerLink="/admission/create" type="submit"
              class="btn btn-primary btn-round">APPLY FOR ADMISSION</button>
            <table class="table table-hover">
              <thead class=" text-primary">
  
                <th><i class="nc-icon nc-book-bookmark">ADMIT NO </i> </th>
                <th><i class="nc-icon nc-bullet-list-67"> DEPARTMENT NAME</i></th>
                <th><i class="nc-icon nc-badge">PUPIL NAME</i></th>
                <th><i class="nc-icon nc-email-85">EMAIL</i></th>
                <th><i class="nc-icon nc-mobile">PHONE</i></th>
                <th><i class="nc-icon nc-map-big">ADDRESS</i></th>
                
                
                <th class="text-right">
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let eachstudent of students;">             
                  <td>
                    {{eachstudent.admitNo}}
                  </td>
                  <td>
                    {{eachstudent.department}}
                  </td>
                  <td>{{eachstudent.name}}</td>
                  <td>{{eachstudent.email}}</td>
                   <td>{{eachstudent.phone}}</td>
                  <td>{{eachstudent.address}}</td>
                  <button routerLink="/admission/edit">EDIT</button>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
             
        
  
