<h1><u>ADMISSION LIST OF 2021</u></h1>

<table class="table table-hover">
    <table class="table caption-top">
        <caption>LIST OF PUPIL ADMITTED TILL TODAY:30</caption>
    <thead class="table-dark">
       <th><i class="nc-icon nc-book-bookmark">ADMISSION NUMBER</i></th>
       <th><i class="nc-icon nc-badge">PUPIL NAME </i></th>
       <th><i class="nc-icon nc-bullet-list-67">DEPARTMENT</i></th>
       <th><i class="nc-icon nc-calendar-60">DATE OF BIRTH</i></th>
       <th><i class="nc-icon nc-map-big">ADDRESS</i></th>
       <th><i class="nc-icon nc-mobile">CONTACT NUMBER</i></th>
       <th> <i class="nc-icon nc-email-85"> EMAIL-ID</i></th>      
    </thead>
  <tbody>
    <tr>
      <th scope="row">0001</th>
      <td>KEERTHIGA.S</td>
      <td>BCA</td>
      <td>23-05-2000</td>
      <td>01,lakshmi nagar,Tiruvannamalai</td>
      <td>9087654321</td>
      <td>keerthisenthilkumar@gmail.com.com</td>
    </tr>
    <tr>
      <th scope="row">0002</th>
      <td>YUVASRI.S</td>
      <td>BCA</td>
      <td>06-06-2020</td>
      <td>02,gumbera nagar,Tiruvannamalai</td>
      <td>65789054321</td>
      <td>yuvasrisundharam@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">0003</th>
      <td>MADHUSREE.A</td>
      <td>BCA</td>
      <td>13-10-2001</td>
      <td>03,ramalinganar street,Tiruvannamalai</td>
      <td>9876054321</td>
      <td>madhsreeanand@gmail.com</td>
    </tr>
    <tr>
        <th scope="row">0004</th>
        <td>GAYATHRI</td>
        <td>BCA</td>
        <td>23-05-2021</td>
        <td>07,ambal street,Tiruvannamalai</td>
        <td>9876054301</td>
        <td>gayathrir@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0005</th>
        <td>RAMYA.S</td>
        <td>B.sc(computer science)</td>
        <td>12-10-2001</td>
        <td>10,nehru street,Tiruvannamalai</td>
        <td>9876564321</td>
        <td>ramya@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0006</th>
        <td>YUVASREE</td>
        <td>B.sc(computer science)</td>
        <td>19-10-2001</td>
        <td>10,netaji street,Tiruvannamalai</td>
        <td>9876560001</td>
        <td>yuvasree@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0007</th>
        <td>PRIYA</td>
        <td>B.sc(computer science)</td>
        <td>10-10-2001</td>
        <td>10,gandhi,Tiruvannamalai</td>
        <td>98678906541</td>
        <td>priya@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0008</th>
        <td>KUMUDHA.T</td>
        <td>B.sc(computer science)</td>
        <td>12-10-2001</td>
        <td>10,nehru street,Tiruvannamalai</td>
        <td>9876564321</td>
        <td>ramya@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0009</th>
        <td>KRITHIKA.S</td>
        <td>B.sc(MICROBIOLOGY)</td>
        <td>18-12-2000</td>
        <td>141,gandhi street,Tiruvannamalai</td>
        <td>9876564110</td>
        <td>krithi001@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0010</th>
        <td>NANDHINI.G</td>
        <td>B.sc(computer science)</td>
        <td>12-10-2001</td>
        <td>167,Indiraa nagar,Tiruvannamalai</td>
        <td>9876564321</td>
        <td>ramya@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0011</th>
        <td>MEHATA PRAVIN.T</td>
        <td>B.sc(MATHS</td>
        <td>10-03-1999</td>
        <td>90,maharshi street,Tiruvannamalai</td>
        <td>9876564398</td>
        <td>mehataparvin@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0012</th>
        <td>ASIYA FATHIMA.T</td>
        <td>B.A(ENGLISH)</td>
        <td>12-01-2001</td>
        <td>160,Gopal nagar,Tiruvannamalai</td>
        <td>9876564021</td>
        <td>asiyafathima90@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0013</th>
        <td>AISHWARYA.S</td>
        <td>B.sc( PHYSICS)</td>
        <td>29-02-2001</td>
        <td>190/a vetrivel nagar,Tiruvannamalai</td>
        <td>9876590870</td>
        <td>aishwarya9087@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0014</th>
        <td>HEMA.S</td>
        <td>B.A(TAMIL))</td>
        <td>09-11-2001</td>
        <td>198,Indra nagar,Tiruvannamalai</td>
        <td>9876589072</td>
        <td>hema@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0015</th>
        <td>KAVIYA.S</td>
        <td>B.sc(computer science)</td>
        <td>11-10-2001</td>
        <td>167,Indiraa nagar,Tiruvannamalai</td>
        <td>9876564321</td>
        <td>kaviyadoll@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0016</th>
        <td>SEMBARUTHI.S</td>
        <td>B.sc(TAMIL)</td>
        <td>09-04-2001</td>
        <td>108,pillayar kovil street,xxx vil,Tiruvannamalai</td>
        <td>9976564321</td>
        <td>semba567890@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0017</th>
        <td>DHARSHINI.S</td>
        <td>B.com(CA)</td>
        <td>11-06-2001</td>
        <td>150,Indiraa nagar,Tiruvannamalai</td>
        <td>9876578321</td>
        <td>dharshini901@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0018</th>
        <td>VAISHNAVI.D</td>
        <td>B.sc(computer science)</td>
        <td>08-03-1999</td>
        <td>12,anna salai main road,Tiruvannamalai</td>
        <td>9876534321</td>
        <td>vaishcutieeeeeee@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0019</th>
        <td>VISHRUTHI.S</td>
        <td>BCA</td>
        <td>04-01-2000</td>
        <td>167,Indiraa nagar,Tiruvannamalai</td>
        <td>9876523521</td>
        <td>vishriths@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0020</th>
        <td>SREEDEVI.S</td>
        <td>BCA</td>
        <td>10-07-2001</td>
        <td>17,kk nagar,Tiruvannamalai</td>
        <td>9876564328</td>
        <td>sreenk5678@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0021</th>
        <td>POORNIMA.S</td>
        <td>B.sc(computer science)</td>
        <td>10-08-2000</td>
        <td>160,jk nagar,Tiruvannamalai</td>
        <td>9876564543</td>
        <td>annapoorani@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0022</th>
        <td>ROSHINI.B</td>
        <td>B.sc(computer science)</td>
        <td>04-01-2000</td>
        <td>190,ambal nagar,Tiruvannamalai</td>
        <td>9800564321</td>
        <td>roshinibals@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0023</th>
        <td>JAYA.S</td>
        <td>BCA</td>
        <td>10-10-2001</td>
        <td>100,Indiraa nagar,Tiruvannamalai</td>
        <td>9876504321</td>
        <td>jayamurugan@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0024</th>
        <td>DWARAGI.S</td>
        <td>B.Com(general)</td>
        <td>19-09-1998</td>
        <td>190/c,balaji nagar,Tiruvannamalai</td>
        <td>9866564321</td>
        <td>dwaragisenthil@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0025</th>
        <td>MASIRA.S</td>
        <td>BCA</td>
        <td>15-08-2001</td>
        <td>167,kiyo street,Tiruvannamalai</td>
        <td>91234564321</td>
        <td>masiraaa@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0026</th>
        <td>ABITHA.S</td>
        <td>BCA</td>
        <td>13-06-2001</td>
        <td>e/123,Indiraa nagar,Tiruvannamalai</td>
        <td>7890654321</td>
        <td>abithajack@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0027</th>
        <td>JYOTHIKA.S</td>
        <td>BCA</td>
        <td>12-12-2000</td>
        <td>167,Indiraa nagar,Tiruvannamalai</td>
        <td>9876560981</td>
        <td>jyosurya01@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0028</th>
        <td>BHUVANA.S</td>
        <td>B.A(TAMIL)</td>
        <td>01-01-2001</td>
        <td>167,Indiraa nagar,Tiruvannamalai</td>
        <td>9876545321</td>
        <td>bhuvanasen@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0029</th>
        <td>DEEPA.S</td>
        <td>B.sc(computer science)</td>
        <td>09-09-2001</td>
        <td>7,jd nagar,Tiruvannamalai</td>
        <td>9876567321</td>
        <td>deepathomas@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0030</th>
        <td>MALATHI.S</td>
        <td>BCA</td>
        <td>10-10-2001</td>
        <td>20,kebiran nagar,Tiruvannamalai</td>
        <td>9876560321</td>
        <td>malukerala@gmail.com</td>
      </tr>
    </tbody>
  </table>
</table>
<button type="button" class="btn btn-primary btn-lg" routerLink="/admission/edit">EDIT</button>
