<table class="table table-hover">
    <table class="table caption-top">
        <caption>LIST OF PUPIL ADMITTED TILL TODAY:20</caption>
    <thead class="table-dark">
       <th>ADMISSION NUMBER</th>
       <th>PUPIL NAME</th>
       <th>DEPARTMENT</th>
       <th>DATE OF BIRTH</th>
       <th>ADDRESS</th>
       <th>CONTACT NUMBER</th>
       <th>  EMAIL-ID</th>      
    </thead>
  <tbody>
    <tr>
      <th scope="row">0001</th>
      <td>KEERTHIGA.S</td>
      <td>BCA</td>
      <td>23-05-2000</td>
      <td>01,lakshmi nagar,Tiruvannamalai</td>
      <td>9087654321</td>
      <td>keerthisenthilkumar@gmail.com.com</td>
    </tr>
    <tr>
      <th scope="row">0002</th>
      <td>YUVASRI.S</td>
      <td>BCA</td>
      <td>06-06-2020</td>
      <td>02,gumbera nagar,Tiruvannamalai</td>
      <td>65789054321</td>
      <td>yuvasrisundharam@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">0003</th>
      <td>MADHUSREE.A</td>
      <td>BCA</td>
      <td>13-10-2001</td>
      <td>03,ramalinganar street,Tiruvannamalai</td>
      <td>9876054321</td>
      <td>madhsreeanand@gmail.com</td>
    </tr>
    <tr>
        <th scope="row">0004</th>
        <td>GAYATHRI</td>
        <td>BCA</td>
        <td>23-05-2021</td>
        <td>07,ambal street,Tiruvannamalai</td>
        <td>9876054301</td>
        <td>gayathrir@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0005</th>
        <td>RAMYA.S</td>
        <td>B.sc(computer science)</td>
        <td>12-10-2001</td>
        <td>10,nehru street,Tiruvannamalai</td>
        <td>9876564321</td>
        <td>ramya@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0006</th>
        <td>YUVASREE</td>
        <td>B.sc(computer science)</td>
        <td>19-10-2001</td>
        <td>10,netaji street,Tiruvannamalai</td>
        <td>9876560001</td>
        <td>yuvasree@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0007</th>
        <td>PRIYA</td>
        <td>B.sc(computer science)</td>
        <td>10-10-2001</td>
        <td>10,gandhi,Tiruvannamalai</td>
        <td>98678906541</td>
        <td>priya@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0005</th>
        <td>KUMUDHA</td>
        <td>B.sc(computer science)</td>
        <td>12-10-2001</td>
        <td>10,nehru street,Tiruvannamalai</td>
        <td>9876564321</td>
        <td>ramya@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0005</th>
        <td>RAMYA.S</td>
        <td>B.sc(computer science)</td>
        <td>12-10-2001</td>
        <td>10,nehru street,Tiruvannamalai</td>
        <td>9876564321</td>
        <td>ramya@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">0005</th>
        <td>RAMYA.S</td>
        <td>B.sc(computer science)</td>
        <td>12-10-2001</td>
        <td>10,nehru street,Tiruvannamalai</td>
        <td>9876564321</td>
        <td>ramya@gmail.com</td>
      </tr>
      
    </tbody>
  </table>
</table>
<button routerLink="/admission/creation">Submit</button>