
<div class="container register-form">
            <div class="form">
        <h3><u>STUDENT EDIT</u></h3>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Id *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="your Department *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Fathers Name *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Mothers Name *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="phone Number *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="E-mail *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Address *" value=""/>
                            </div>
                        
                        
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Age *" value=""/>
                            </div>
                           
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Batch *" value=""/>
                            </div>
                        </div> 
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-round" (click)="onclick()">Submit</button>

                </div>
            </div>
        </div>



